<%- model_class = Topic -%>
<div style="padding: 0% 3%;">
<div class="page-header">
  <h1 style="text-align:center;">Tópico</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Título:</strong></dt>
  <dd><%= @topic.title %></dd>
  <dt><strong>Descrição:</strong></dt>
  <dd><%= @topic.description %></dd>
  <dt><strong>Habilitação:</strong></dt>
  <dd><%= @topic.enable %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              topics_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_topic_path(@topic), :class => 'btn btn-default' %>

</div>