<%- model_class = Question -%>
<div style="padding: 0% 3%;">
<div class="page-header">
  <h1 style="text-align:center;">Questão</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Título:</strong></dt>
  <dd><%= @question.title %></dd>
  <dt><strong>Tipo de Questão:</strong></dt>
  <dd><%= @question.questionType %></dd>
  <dt><strong>Habilitação:</strong></dt>
  <dd><%= @question.enable %></dd>
  <dt><strong>Tópico:</strong></dt>
  <dd><%= @question.topic_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              questions_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_question_path(@question), :class => 'btn btn-default' %>

</div>